
google-genai==0.6.0
groq==0.13.1
mistralai==1.2.3
loguru==0.7.3
# mistral_common==1.5.1
openai==1.56.1
tenacity==9.0.0
tiktoken==0.8.0
pydantic==2.10.3
pytest==8.3.4
pytest-asyncio==0.25.2
PyYAML==6.0.2
setuptools==75.6.0
ulid==1.1
dash==2.14.1
plotly==5.18.0
polars==0.19.16
pandas==2.1.3